@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200&display=swap');

* {
  box-sizing: border-box;
  color: white;
}
body {
	background-image: url(../images/m2.jpg);
}

.topnav {
  overflow: hidden;
  background-image: url(../images/bg.jpg);
  position: relative;
}

.topnav links {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.links {
  float: right;
}

 header {
  padding: 30px;
  text-align: center;
  font-size: 40px;
  color: #fff;
}

.row-1 {
  display: flex;
}

.column-logo {
  flex: 50%;
  height: 300px;
}

main h1 {
  text-align: center;
  font-size: 40px;
}

#logo > img{
  height: 300px;
  width: 100%;
}

.column-main {
  flex: 50%;
  height: 300px;
}

.column-main p {
  margin: 15px  ;
  font-size: 24px;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }


  .left-sec, .right-sec {
    font-size: 24px;
  }

  .left-sec ol {
    list-style: none;
    float: left;

  }
  

  h2 {
    text-align: center; 
    font-size: 40px;
    color: white;
  }

  img {
    width: 100%;
  }

  .column1, .column2, .column3, .column4 {
    float: left;
    width: 25%;
    padding: 5px;
  }
   .row-3::after {
    clear: both;
    content: "";
    display: table;
   }

   footer {
    text-align: center;
    font-size: 24px;
    font-weight: 200;
   } 